<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>文件上傳</title>
</head>
<body>
    <h2>文件上傳</h2>
    <hr>
    <!--                                            文件上傳必須的屬性  -->
    <form action="/portrait" method="post" enctype="multipart/form-data">
        用戶名: <input type="text" name="username"><br>
        頭像: <input type="file" name="portrait"><br>
        <hr>
        <button>點擊提交</button>
    </form>
</body>
</html>